@{
    ViewBag.Title = "About";
}

<h2>
    <i class="fa fa-users" aria-hidden="true"></i>
    Group 4
</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Alekhya Valiveti</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m5.png" alt="people">
    </div>
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Anjana Teena</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m5.png" alt="people">
    </div>
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Akashdeep Singh</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m5.png" alt="people">
    </div>
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Jibin Reji</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m5.png" alt="people">
    </div>
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3><span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Mandeep Singh</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m5.png" alt="people">
    </div>
    <div class="col-md-4">
        <div class="dialog-box-style">
            <h3>
                <span class="main-circle-icon"><i class="fa fa-user mr3"></i></span>Ronak Nanda</h3>
            <p>Donec id elit non mi porta gravida at eget metus. Fusce dapibus, tellus ac cursus commodo, tortor mauris condimentum nibh, ut fermentum massa justo sit amet risus etiam sem...</p>
        </div>
        <div class="arrow-bottom"></div>
        <img src="~/Content/m5.png" alt="people">
    </div>
</div>

<div class="box-white mt5">
    <h4>
        <i class="fa fa-star-o" aria-hidden="true"></i>
        About Toronno Post project
    </h4>
    <p>toronnopost is an real estate project which is built by Group 4. This project is our assignment for COMP231 - Computer Programmer Project class.</p>
    <p>We will get A+ :)</p>
</div>